@charset "UTF-8";

main{
  background-color: #ADA9FF;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px 40px 0px #918BFF;
  border-radius: 5px;
  
}

input#re{
  
  text-align: right;
  width: 96%;
  padding: 5px;
  font-weight: bold;
  font-size: 2.5em;
  
  
}
section.botoes{
  

  
}
input.botao{
  font-weight: bold;
  border: none;
  height: 80px;
  width: 80px;
  margin: 4px;
  font-size: 1em;
  box-shadow: 0px 2px 0px #00000091;
  border-radius: 3px;
  
}